<div class="form-container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-container__field">
      <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム" %>
    </div>

    <div class="form-container__field">
      <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス" %>
    </div>

    <div class="form-container__field">
      <%= f.password_field :password, placeholder: "パスワード(6字以上)" %>
    </div>

    <div class="form-container__actions">
      <%= f.submit "新規登録", class: 'btn btn-success btn-lg btn-block' %>
    </div>
  <% end %>

</div>