<div class="index-container">
	<% if @diary_or_hashtag == "1" %>
		<h1 class="index-container__title">'<%= @search %>'の検索結果</h1>
		<table class="index-container__table">
			<thead>
				<tr>
					<th class="index-th">日記のタイトル</th>
				</tr>
			</thead>
			<tbody>
			<% @diaries.each do |diary| %>
				<tr>
					<td class="index-td">
						<%= link_to diary_path(diary), {class: "index-link"} do %>
							<%= diary.title %>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= paginate @diaries %>

	<% else %>
		<h1 class="index-container__title">'#<%= @search %>'の検索結果</h1>
		<table class="index-container__table">
			<thead>
				<tr>
					<th class="index-th">日記のタイトル</th>
				</tr>
			</thead>
			<tbody>
			<% @diary_hashtags.each do |hashtag| %>
				<tr>
					<td class="index-td">
						<%= link_to diary_path(hashtag.diary), {class: "index-link"} do %>
							<%= hashtag.diary.title %>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= paginate @diary_hashtags %>

	<% end %>
</div>
