<div class="container">
	<div class="row">
		<div class="col-6">
			<table class="table table-bordered">
				<thead>
					<th><%= @diary.title %></th>
				</thead>
				<tbody>
					<tr>
						<td>
							<%= attachment_image_tag @diary, :image, :fill, 60, 60, format: "jpeg" %>
						</td>
					</tr>
					<tr>
						<td>
							<%= @diary.body %>
						</td>
					</tr>
					<tr>
						<td>
							書いた時の感情：<span class="badge badge-info"><%= @diary.emotion_status_i18n %></span>
						</td>
					</tr>
					<tr>
						<td>
							<%= render_with_hashtags(@diary.body) %>
						</td>
					</tr>
					<tr>
						<td id="favorites_buttons_<%= @diary.id %>">
							<%= render partial: 'public/favorites/favorite', locals: { diary: @diary} %>
					    </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>