<div class="container">
	<div class="row">
		<div class="col-6">
			<table class="table">
				<thead>
					<th><%= @diary.title %></th>
				</thead>
				<tbody>
					<tr>
						<td>
							<%= attachment_image_tag @diary, :image, :fill, 60, 60, format: "jpeg" %>
						</td>
					</tr>
					<tr>
						<td>
							<%= @diary.body %>
						</td>
					</tr>
					<% if @diary.favorited_by?(current_user) %>
					<tr>
					    <p><span>お気に入り解除：</span><%= link_to @diary.favorites.count, diary_favorites_path(@diary.id), method: :delete %></p>
					  <% else %>
					    <p><span>お気に入り登録：</span><%= link_to @diary.favorites.count, diary_favorites_path(@diary.id), method: :post %></p>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>