<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/76a1ccef6e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <h1 class="header_logo">
        <%= link_to root_path do %>
          <%= image_tag 'image/logo.jpeg', :size => '100x70' %>
        <% end %>
      </h1>
      <nav>
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item"><%= link_to "マイページ", mypage_path %></li>
            <li class="nav-list-item"><%= link_to "日記一覧", diaries_path %></li>
            <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% elsif %>
            <li class="nav-list-item"><%= link_to "About", about_path, class: 'nav-link' %></li>
            <li class="nav-list-item"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-list-item"><%= link_to "ログイン", new_user_session_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      
    </footer>
  </body>
</html>
