<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <%= link_to "マイページ", mypage_path %>
        <%= link_to "日記一覧", diaries_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </header>
    <% elsif %>
      <header>
        <%= link_to "About", about_path %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      
    </footer>
  </body>
</html>
